<section data-ng-controller="HomeController">
  <div class="zeroMargin  text-center">
    <!--<div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/logo-3-gris.png" />
      </div>
    </div>-->
    <!--<br>-->

    <div id="headerwrap" id="home" name="home">
		<header class="clearfix">
          <p>Librer&iacute;a Cuentacuentos</p>
          <!--<img class="imagen-portada" src="modules/core/img/logo-3-gris.png"/>-->
          <div class="col-md-5 col-md-offset-4 col-sm-5 col-sm-offset-3 col-xs-10">
            <img class="img-responsive text-center" src="modules/core/img/logo-3-gris.png" />
          </div>
  		</header>
    </div><!-- /headerwrap -->
  </div>
</section>
